.menu {
    background: #54687a;
    width: 900px;
    height: 110px;
    padding: 52px 20px 10px;
    position: fixed;
    z-index: 10;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 3px 3px #84b6bd;
    text-decoration: none;
    &_first, &_second {
        width: 575px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-weight: 300;
        & li {
            display: inline;
        }
    }
    &_second {
        width: 695px;
        margin-left: 150px;
    }
    &_item {
        color: #84b6bd;
        text-shadow: 0.3px 0.3px 0.6px #ffffff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}


