.menu {
    background: #54687a;
    width: 900px;
    height: 110px;
    padding: 52px 20px 10px;
    position: fixed;
    z-index: 10;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 3px 3px #84b6bd;
    text-decoration: none;
    &_list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 15.5px;
        padding: 17px 20px;
        & li {
            display: inline;
        }
    }
    &_item {
        color: #ffffff;
        text-shadow: 1px 1px 0.6px #84b6bd, 1px 1px 0.6px #84b6bd;
        text-decoration: none;
        &:hover {
            text-shadow: 1px 1px 0.6px #84b6bd, 1px 1px 0.6px #84b6bd, -0.8px -0.8px 0.6px #c56f82, -0.8px -0.8px 0.6px #c56f82;
        }
    }
}


