.experience {
    position: relative;
    color: #54687a;
    height: 100%;
    margin: 0 60px;
    h2 {
        font-family: 'Zen Loop';
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 2px 2px #84b6bd;
        margin-bottom: 10px;
    }
    a {
        color: #54687a;
        text-decoration: none;
        text-shadow: 1px 1px 1px #84b6bd;
        &:hover {
            text-shadow: 1px 1px 1px #c56f82;
        }
    }
}
#experience {
    position: absolute;
    top: -80px;
}