.examples {
    position: relative;
    margin: 15px 30px;
    h2 {
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        text-shadow: 2px 2px 2px #84b6bd;
        margin-top: 30px;
    }
    &_info {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__items {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
            width: 380px;
            line-height: 1.5;
            padding: 10px 0 10px 30px;
            box-shadow:-2px -2px 2px 1px #84b6bd, 2px 2px 2px 1px #54687a;
            font-size: 16px;
            a {
                color: #54687a;
                text-decoration: none;
                &:hover {
                    text-shadow: 1px 1px 1px #84b6bd;
                }
            }
        }
        &__text, &__additionally {
            width: 340px;
            a {
                color: #54687a;
                text-decoration: none;
                text-shadow: 1px 1px 1px #84b6bd;
                &:hover {
                    color: #84b6bd;
                }
            }
        }
        &__additionally {
            margin: 20px auto;
            width: fit-content;
        }
    }
}
#examples {
    position: absolute;
    top: -80px;
    opacity: 1;
}