.contacts {
    position: relative;
    color: #54687a;
    height: 100%;
    margin: 20px 60px;
    h2 {
        font-family: 'Zen Loop';
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 2px 2px #84b6bd;
    }
    &_block {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        box-shadow: -2px -2px 2px 2px #84b6bd, 2px 2px 2px 2px #c56f82;
        &__main{
            padding: 17px 16px;
            list-style-type: none;
        }
        &__social-network {
            padding: 17px;
            list-style-type: none;
        }
    }
    a {
        color: #54687a;
        text-decoration: none;
        &:hover {
            text-shadow: 1px 1px 1px #84b6bd;
        }
    }
}
#contacts {
    position: absolute;
    top: -80px;
}