.aboutme {
    position: relative;
    color: #54687a;
    height: 100%;
    h1 {
        position: absolute;
        font-family: 'Zen Loop';
        font-size: 60px;
        left: 50%;
        transform: translateX(-40px);
        text-shadow: 2px 2px 2px #84b6bd;
    }
    &_img {
        width: 270px;
        margin: 15px 15px 0px 60px;
        border-radius: 10px;
        box-shadow: -3px 3px 5px 1px #54687a;
    }
    &_info {
        position: absolute;
        right: 50px;
        top: 73px;
        width: 450px;
        padding: 0 15px;
    }
}
#aboutme {
    position: absolute;
    top: -90px;
}